body {
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#posts {
  width: 300px;
}
#posts div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
span {
  display: flex;
  gap: 25px;
}
i {
  cursor: pointer;
}
#msg {
  color: red;
}
h1 {
  text-align: center;
  padding: 70px;
}
textarea {
  height: 50px;
}
